[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
match_indent = true
position = 'after'
pattern = " card:set_edition(edition)"
payload = '''
if G.GAME.modifiers and G.GAME.modifiers.banana_mayhem then
    local available_bananas = {}
    for k, v in pairs(get_current_pool("BananaPool")) do
        if G.P_CENTERS[v] then
            available_bananas[#available_bananas+1] = v
        end
    end

    local banana_key = pseudorandom_element(available_bananas, pseudoseed("BANANA_MAYHEM"))
    card:set_ability(banana_key)
end
'''

[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'after'
pattern = "card.ability.booster_pos = i"
payload = '''
if G.GAME.modifiers and G.GAME.modifiers.banana_mayhem then
    if card then
			local banana_packs = {
				"p_crv_bbst"
			}
			if pseudorandom("banana_pack") < 1/10 then banana_packs[#banana_packs+1] = "p_crv_bbst2" end
			if pseudorandom("banana_pack") < 1/25 then banana_packs[#banana_packs+1] = "p_crv_bbst3" end
			local banana_pack = pseudorandom_element(banana_packs, pseudoseed("banana_pack"))
			if not card.bananaified then
				card.bananaified = true
				card:set_ability(banana_pack)
		    end
	end
end
'''