[manifest]
version = "1.0.0"
dump_lua = true
priority = -9

# sticker functions

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = '''
            card.ability[self.key] = val
            if val and self.config and next(self.config) then
'''
position = 'before'
payload = '''
	if val == false and card.ability[self.key] then
        card = card
        if self and self.removed then
        card:remove_sticker_calc(self, card)
        end
    else
        card = card
        if self and self.applied then
        card:apply_sticker_calc(self, card)
        end
    end
'''
match_indent = false
